/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #009fe3;
  --ifm-color-primary-dark: #008fcc;
  --ifm-color-primary-darker: #0087c1;
  --ifm-color-primary-darkest: #006f9f;
  --ifm-color-primary-light: #00affa;
  --ifm-color-primary-lighter: #06b4ff;
  --ifm-color-primary-lightest: #28bfff;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #4DD1FF;
  --ifm-color-primary-dark: #26B8FF;
  --ifm-color-primary-darker: #009FE3;
  --ifm-color-primary-darkest: #007AB8;
  --ifm-color-primary-light: #73EAFF;
  --ifm-color-primary-lighter: #99F3FF;
  --ifm-color-primary-lightest: #BFFFFF;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.theme-layout-footer{
  background-color: var(--ifm-color-primary-darkest);
  padding: 1rem 0;
}
